.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-img {
  width: 200px;
}

.article-container {
  display: flex;
  gap: 2rem;
  padding: 40px;
  border: 2px solid white;
}

.pageWrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-top: 40px; */
}

.header {
  font-size: 3rem;
  max-width: 1180px;
  padding: 40px 0;
}

.articlePageHeaderWrapper {
  background: red;
  min-height: 340px;
}
