.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-img {
  width: 200px;
}

.article-container {
  display: flex;
  gap: 2rem;
  padding: 40px;
  border: 2px solid white;
}

.pageWrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.articles-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  font-size: 3rem;
  max-width: 1180px;
  padding: 40px 0;
}

.articlePageHeaderWrapper {
  background: red;
  padding: 10%;
}

.articlePageBlurb {
  font-size: 1.3rem;
  margin-top: 10px;
}

.articleTextWrapper {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.articlePageTitle {
  font-size: 4rem;
}
.articleTextWrapper h2 {
  font-size: 2rem;
}

.articleTextWrapper h3 {
  font-size: 1.6rem;
}
